.carousel {
  width: 500px;
  margin: auto;
}

.lang {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.lang:hover {
  opacity: 0.7;
}

.lang:active {
  padding: 1px;
}

.active-product {
  border: 1px solid green;
  margin: 2px;
}

.inactive-product {
  border: 1px solid red;
  margin: 2px;
}

.map {
  height: 300px;
}

.footer {
  background-color: #212529;
  color: white;
  height: 100px;
  margin-top: 50px;
}