.nupp {
  /* 
  kommentaarid: ctrl + ä
  background-color: brown;
  color: white */
  width: 110px;
}

.nupp:hover {
  font-weight: bold;
}

.pilt {
  width: 300px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 0.7;
}